
        body {
            background-color: #fff; /* White background */
            color: #000; /* Black text color */
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            color: #c11325; /* Heading color */
            text-align: center;
        }

        form {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
        }

        select {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
        }

        textarea {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            height: 100px;
            resize: vertical;
        }

        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            background-color: #c11325; /* Red color */
            color: #fff; /* White text color */
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #a10d1d; /* Darker shade of red */
        }

        .member-list {
            list-style-type: none;
            padding: 0;
        }

        .member-list li {
            margin-bottom: 10px;
        }

